/* CSS Document
*
* @autor Fernanda Pieretti
* @data abr/2018
* @ref style.css
*
*/

body {
    font-family: Lato;
    font-size: 14px;
    color: #363636
}

img {
    max-width: 100%;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.flex {
    display: -ms-flexbox;
    display: flex
}

.align-center {
    text-align: center;
}

.no-padding-left {
    padding-left: 0 !important;
}

#header {
    background: #48546E;
    padding: 5px 0;
}

#header p {
    color: #f3f3f3;
    font-size: 12px;
    cursor: default;
    margin: 0;
}

#header .acessibilidade a {
    width: 24px;
    height: 18px;
    line-height: 16px;
    border: 1px solid #fefefe;
    border-radius: 3px;
    font-size: 12px;
    color: #fefefe;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

#header .acessibilidade a:hover {
    color: #48546E;
    background: #fefefe;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

#header .traducao img:hover {
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

#header .acesso img:hover {
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

@media only screen and (max-width: 465px) {
    #header {
        text-align: center;
        padding-bottom: 20px;
    }
    #header .flex {
        display: block;
    }
    #header .traducao {
        margin: 20px 0;
    }
    #header .acessibilidade {
        margin: 20px 0;
    }
}

#nav {
    background: url(../img/background/menu.png) no-repeat top center #eeeeee;
    height: 135px;
}

#nav button {
    display: none;
    float: right;
    margin-top: 83px;
    width: 40px;
    height: 40px;
    background: none;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    position: relative;
    z-index: 20;
}

#nav button span {
    display: block;
    width: 100%;
    height: 2px;
    background: #888;
    margin: 6px 0;
    border-radius: 3px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

#nav h2 {
    font-size: 23px;
    line-height: 23px;
    color: #FFCC29;
    cursor: default;
    font-weight: normal;
    margin: 0;
}

#nav h2 small {
    font-size: 18px;
    display: block;
}

#nav .itens {
    height: 71px;
}

#nav .logo {
    position: relative;
    z-index: 27;
}

#nav .redes .fab {
    color: #3D8575;
    border: 1px solid #3D8575;
    width: 23px;
    height: 23px;
    text-align: center;
    line-height: 23px;
    text-decoration: none;
    border-radius: 3px;
    margin-right: 2px;
    font-size: 13px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

#nav .redes .fab:hover {
    color: #fff;
    background: #3D8575;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

#nav ul.menu {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

#nav ul.menu li {
    display: inline-block;
}

#nav ul.menu li a {
    display: block;
    color: #0F6955;
    text-decoration: none;
    font-size: 14px;
    height: 64px;
    line-height: 64px;
    cursor: pointer;
}

#nav ul.menu li a.active,
#nav ul.menu>li>a:hover {
    border-bottom: 2px solid #D2D3D5;
}

#nav ul.menu li:first-child a i {
    color: #0F6955;
}

#nav ul.menu li a i {
    color: #D2D3D5;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    #nav .logo {
        width: 240px;
        max-width: initial;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    #nav h2 {
        font-size: 19px;
    }
    #nav h2 small {
        font-size: 15px;
    }
    #nav .logo {
        width: 240px;
        max-width: initial;
    }
    #nav ul.menu {
        margin-left: 70px;
    }
    #nav ul.menu li a {
        font-size: 9px;
    }
    #nav .redes .btn-servicos {
        margin-left: 2px;
        font-size: 9px;
    }
    #nav .redes .btn-servicos .btn {
        padding: 4px 5px;
    }
    #nav .redes .btn-servicos form {
        padding: 10px;
    }
    #nav .btn-servicos ul li {
        font-size: 12px;
    }
    #nav .btn-servicos ul li a {
        font-size: 12px !important;
    }
}

@media only screen and (max-width: 768px) {
    #nav .itens {
        display: none;
    }
    #nav button {
        display: block;
        background: #ccc;
    }
    #nav.active button {
        position: fixed;
        z-index: 51;
        top: 10px;
        right: 10px;
        margin: 0;
    }
    #nav.active button span:first-child {
        transform: rotate(45deg);
        margin: 0;
    }
    #nav.active button span:first-child+span {
        transform: rotate(-45deg);
        margin: -2px 0 0 0;
    }
    #nav.active button span:first-child+span+span {
        display: none;
    }
    #nav ul.menu {
        position: fixed;
        z-index: 50;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        overflow: auto;
        background: #eee;
        padding: 0 15px;
        display: block;
    }
    #nav.active ul.menu {
        left: 0;
    }
    #nav ul.menu li {
        display: block;
        margin: 20px 0;
    }
    #nav ul.menu li.sep {
        display: none;
    }
    #nav ul.menu li a {
        display: block;
        height: auto;
        line-height: 15px;
        font-size: 20px;
    }
}

#nav-suspenso {
    width: 100%;
    height: 0;
    overflow: hidden;
    background: #eee;
    border-top: 1px solid #fefefe;
    position: absolute;
    z-index: 26;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

#nav-suspenso.active {
    height: 250px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

#nav-suspenso h2 {
    font-size: 14px;
    color: #0F6955;
    cursor: default;
}

#nav-suspenso h2 span {
    color: #FFCC29;
}

#nav-suspenso ul li a {
    color: #606062;
}

#nav-suspenso .nav-suspenso {
    display: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

#nav-suspenso .nav-suspenso.active {
    display: block;
}

#nav-suspenso #btn-close-nav-suspenso {
    width: 40px;
    height: 40px;
    background: #ccc;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    display: none;
    position: fixed;
    z-index: 52;
    top: 10px;
    right: 10px;
}

#nav-suspenso #btn-close-nav-suspenso span {
    display: block;
    width: 100%;
    height: 2px;
    background: #888;
    margin: 6px 0;
    border-radius: 3px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

#nav-suspenso #btn-close-nav-suspenso span:first-child {
    transform: rotate(135deg);
    margin: -4px 0 0;
    width: 15px;
}

#nav-suspenso #btn-close-nav-suspenso span:first-child+span {
    transform: rotate(230deg);
    margin: 8px 0 0;
    width: 15px;
}

#nav-suspenso #btn-close-nav-suspenso span:first-child+span+span {
    margin: -7px 0 0 3px;
    width: 20px;
}

@media only screen and (max-width: 768px) {
    #nav-suspenso img {
        display: none;
    }
    #nav-suspenso {
        position: fixed;
        z-index: 51;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        overflow: auto;
    }
    #nav-suspenso.active {
        height: 100%;
        left: 0;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
    #nav-suspenso .nav-suspenso {
        padding-right: 50px;
    }
    #nav-suspenso .nav-suspenso div,
    #nav-suspenso.active #btn-close-nav-suspenso {
        display: block;
    }
}

#titulo {
    background: url(../img/background/titulos.png) no-repeat center;
}

#titulo.institucional {
    background-color: #569267;
}

#titulo.projetos {
    background-color: #0B064F;
}

#titulo.atendimento {
    background-color: #48546E;
}

#titulo.servicos {
    background-color: #830001;
}

#titulo h1 {
    font-size: 32px;
    color: #fff;
    text-transform: uppercase;
    cursor: default;
    margin: 0;
}

#titulo p {
    font-size: 15px;
    color: #FFCC29;
    text-transform: uppercase;
    cursor: default;
    margin: 0;
}

#titulo .col-md-12 {
    height: 67px;
}

@media only screen and (max-width: 768px) {
    #titulo h1 {
        font-size: 23px;
    }
    #titulo p {
        display: none;
    }
}

#banner-app {
    background: url(../img/background/5.png) no-repeat top center;
    padding: 20px 0 0;
}

#banner-app h2 {
    color: #830001;
    font-size: 27px;
    cursor: default;
}

#banner-app p {
    cursor: default;
}

#banner-app .img-app {
    width: 230px;
}

@media only screen and (max-width: 768px) {
    #banner-app .img-app {
        width: 180px;
    }
}

#titulo-full {
    background: #830001;
    padding: 10px 0;
}

#titulo-full h2 {
    margin: 0;
    cursor: default;
    color: #FFCC29;
    font-size: 25px;
}

#conteudo {
    padding: 40px 0;
}

#conteudo.cinza {
    background: #F0F0F0;
}

#conteudo h2.titulo {
    color: #FFCC29;
    font-size: 26px;
    cursor: default;
    padding: 10px;
    margin: 0 0 10px;
    background: url(../img/background/titulos.png) no-repeat center;
}

#conteudo h2.titulo.institucional {
    background-color: #569267;
}

#conteudo h2.titulo.projetos {
    background-color: #0B064F;
}

#conteudo h2.titulo.atendimento {
    background-color: #48546E;
}

#conteudo h2.titulo.servicos {
    background-color: #830001;
}

@media only screen and (max-width: 768px) {
    #conteudo h2.titulo {
        font-size: 20px;
    }
}

#conteudo ul.menu {
    border-right: 2px solid #0F6955;
}

#conteudo ul.menu li {
    display: block;
    margin: 2px 0;
}

#conteudo ul.menu li:first-child {
    background: #0F6955;
    color: #fff;
    cursor: default;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 10px;
}

#conteudo ul.menu li a {
    display: block;
    padding: 5px 10px;
    background: #ECEDEE;
    color: #373435;
    font-size: 14px;
}

#conteudo ul.menu li a:hover,
#conteudo ul.menu li a.select {
    text-decoration: none;
    background: #D3F2DC;
    font-weight: bold;
}

#conteudo ul.menu li.titulo a {
    background: #569267;
    color: #FFCC29;
    font-weight: bold;
    color: #FFCC29;
}

#conteudo ul.menu li.titulo.institucional a {
    background: #569267;
}

#conteudo ul.menu li.titulo.projetos a {
    background: #0B064F;
}

#conteudo ul.menu li.titulo.atendimento a {
    background: #48546E;
}

#conteudo ul.menu li.titulo.servicos a {
    background: #830001;
}

#conteudo ul.itens {
    margin: 20px 0 40px;
}

#conteudo ul.itens li a {
    background: #962E2E;
    color: #FFCC29;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    display: block;
    margin: 2px 0;
}

#conteudo ul.itens li a:hover {
    text-decoration: none;
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#conteudo ul.itens li a img {
    width: 26px;
    margin-right: 10px;
}

#conteudo .texto {
    color: #373435;
    font-size: 16px;
    cursor: default;
    margin: 20px 0;
}

#conteudo form {
    display: block;
    margin: 20px 0;
}

#conteudo form label {
    display: block;
    color: #606062;
    cursor: default;
    font-size: 14px;
}

#conteudo form label.nowrap {
    white-space: nowrap;
    margin-right: 10px;
}

#conteudo form select {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #f7f7f7;
    padding-left: 10px;
    border: 1px solid #D2D3D5;
}

#conteudo form input[type="text"] {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #f7f7f7;
    padding-left: 10px;
    border: 1px solid #D2D3D5;
}

#conteudo form textarea {
    display: block;
    width: 100%;
    height: 130px;
    line-height: 20px;
    background: #f7f7f7;
    padding: 10px;
    border: 1px solid #D2D3D5;
}

#conteudo form input[type="submit"] {
    background: #0F6955;
    color: #f3f3f3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 135px;
    height: 50px;
    font-size: 18px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#conteudo form input[type="submit"]:hover {
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#conteudo form.cinza {
    background: #ECEDEE;
    padding: 5px 15px;
    margin-top: 0;
    color: #606062;
}

#conteudo form.cinza input[type="text"] {
    width: 200px;
}

#conteudo form.cinza button {
    position: absolute;
    z-index: 1;
    bottom: 8px;
    right: 20px;
    background: none;
    color: #A9ABAE;
    border: none;
    cursor: pointer;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    #conteudo form.cinza>div>div {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 575px) {
    #conteudo form.cinza>div>div:first-child {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 400px) {
    #conteudo form.cinza input[type="text"] {
        width: 100%;
    }
    #conteudo form.cinza>div>div:first-child {
        display: block;
    }
}

#conteudo .botoes {
    display: block;
    margin: 10px 0;
}

#conteudo .botoes a {
    color: #FEFEFE;
    font-size: 16px;
    min-width: 300px;
    display: inline-block;
    height: 49px;
    line-height: 49px;
    margin: 10px 0;
    padding: 0 20px 0 10px;
    border-radius: 50px;
    margin-right: 20px;
    position: relative;
    z-index: 1;
    text-decoration: none;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

#conteudo .botoes a:after {
    content: '';
    display: block;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    position: absolute;
    z-index: 2;
    top: 2px;
    left: 2px;
    border-radius: 50px;
    border: 2px solid #FEFEFE;
    opacity: .3;
}

#conteudo .botoes a img {
    float: left;
    margin: -9px 10px 0 0;
    position: relative;
    z-index: 3;
}

#conteudo .botoes a:hover {
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

#conteudo .botoes a.mp3 {
    background: #165F9D;
}

#conteudo .botoes a.pdf {
    background: #CA2128;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    #conteudo .botoes a {
        min-width: 280px;
    }
}

@media only screen and (max-width: 768px) {
    #conteudo .botoes a {
        min-width: 0;
    }
    #conteudo .botoes a img {
        width: 50px;
        margin-top: -2px;
    }
}

#conteudo ul.lista {
    margin-top: 40px;
}

#conteudo ul.lista li {
    margin-bottom: 20px;
}

#conteudo ul.lista li h3 {
    margin: 10px 0 0;
    cursor: default;
}

#conteudo ul.lista li p {
    margin: 0;
    cursor: default;
}

#conteudo ul.lista li img {
    margin: 0 20px 20px 0;
}

@media only screen and (max-width: 768px) {
    #conteudo ul.lista li {
        display: block;
    }
    #conteudo ul.lista li h3 {
        margin-top: 0;
    }
    #conteudo ul.lista li img {
        margin-bottom: 0;
    }
}

#conteudo ul.resultado li {
    background: #f7f7f7;
    padding: 20px;
    margin: 10px 0;
}

#conteudo ul.resultado li h3,
#conteudo ul.resultado li p {
    margin: 0;
    cursor: default;
}

#conteudo .accordion {
    margin: 40px 0
}

#conteudo .accordion.ui-accordion .ui-accordion-header {
    margin-top: 10px;
    background: #D2D3D5;
    color: #373435;
    font-weight: bold;
    font-size: 18px;
    outline: none;
    cursor: pointer;
}

#conteudo .accordion.ui-accordion .ui-accordion-header i {
    display: inline-block;
    width: 60px;
    height: 60px;
    background: #BDBFC1;
    text-align: center;
    line-height: 60px;
    font-size: 22px;
    min-width: 60px;
    margin-right: 10px;
}

#conteudo .accordion.ui-accordion .ui-accordion-header-active {
    border-bottom: none
}

#conteudo .accordion.ui-accordion .ui-accordion-header-active i::before {
    transform: rotate(90deg);
    display: inline-block;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

#conteudo .accordion.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    display: none
}

#conteudo .accordion.ui-accordion .ui-accordion-content {
    padding: 20px 30px 20px 70px;
}

#conteudo .accordion.ui-accordion .ui-accordion-content .item {
    padding-bottom: 10px;
    cursor: default
}

#conteudo .accordion.ui-accordion .ui-accordion-content .item:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin: 0
}

@media only screen and (max-width: 768px) {
    #conteudo .accordion.ui-accordion .ui-accordion-header {
        font-size: 15px;
    }
}

#conteudo .edital {
    background: #ECEDEE;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    position: relative;
    margin: 20px 0;
}

#conteudo .edital .texto {
    padding: 20px 20px 30px;
    margin: 0;
}

#conteudo .edital .texto h2 {
    font-size: 14px;
    color: #830001;
    cursor: default;
}

#conteudo .edital .texto p {
    margin: 0;
}

#conteudo .edital .vagas {
    font-size: 15px;
    color: #fefefe;
    font-weight: bold;
    text-decoration: none;
    background: #48546E;
    width: 130px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    cursor: default;
}

#conteudo .edital .acoes,
#conteudo .edital .acoes div {
    background: #48546E;
    min-width: 290px;
}

#conteudo .edital .acoes p {
    color: #fefefe;
    cursor: default;
    padding: 20px;
    margin: 0;
}

#conteudo .edital .acoes p b {
    display: block;
    font-size: 16px;
}

#conteudo .edital .acoes a {
    display: block;
    color: #ccc;
    text-decoration: none;
    font-weight: bold;
    padding: 20px;
    font-size: 16px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#conteudo .edital .acoes a:hover {
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#conteudo .edital .acoes a.edt {
    background: #0F6955;
}

#conteudo .edital .acoes a.edt i {
    color: #569267;
    font-size: 20px;
    margin-right: 10px;
}

#conteudo .edital .acoes a.pb {
    background: #569267;
}

#conteudo .edital .acoes a.pb i {
    color: #0F6955;
    font-size: 20px;
    margin-right: 10px;
}

#conteudo .organograma {
    margin: 20px 0;
}

#conteudo .organograma ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

#conteudo .organograma ul ul.lateral {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    position: relative;
}

#conteudo .organograma ul ul.lateral:after {
    content: '';
    display: block;
    width: 52%;
    height: 2px;
    position: absolute;
    z-index: 1;
    top: -10px;
    left: 50%;
    background: #A44546;
}

#conteudo .organograma ul ul.lateral:last-child:after {
    left: -2px;
}

#conteudo .organograma ul ul.lateral li {
    display: block;
}

#conteudo .organograma ul ul.lateral li:last-child span:after,
#conteudo .organograma ul li.no-child span:after {
    display: none;
}

#conteudo .organograma ul li.middle {
    position: relative;
}

#conteudo .organograma ul li.middle:before {
    content: '';
    display: block;
    width: 15px;
    height: 2px;
    position: absolute;
    z-index: 1;
    top: 30px;
    right: 98%;
    background: #A44546;
}

#conteudo .organograma ul li.middle:after {
    content: '';
    display: block;
    width: 15px;
    height: 2px;
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 98%;
    background: #A44546;
}

#conteudo .organograma ul ul.lateral li:first-child span:before {
    content: '';
    display: block;
    width: 2px;
    height: 20px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    background: #A44546;
}

#conteudo .organograma ul li {
    display: inline-block;
    vertical-align: top;
}

#conteudo .organograma ul li span {
    display: inline-block;
    background: #830001;
    padding: 10px;
    color: #fff;
    cursor: default;
    margin: 10px 5px;
    min-width: 300px;
    position: relative;
}

#conteudo .organograma ul li span:after {
    content: '';
    display: block;
    width: 2px;
    height: 20px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    background: #A44546;
}

#conteudo .organograma ul li span.full {
    display: block;
}

#conteudo .organograma ul ul li span {
    background: #8F191A;
    min-width: 300px;
}

#conteudo .organograma ul ul ul li span {
    background: #A44546;
    min-width: 145px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    #conteudo .organograma ul li span {
        min-width: 270px;
    }
    #conteudo .organograma ul ul li span {
        min-width: 270px;
    }
    #conteudo .organograma ul ul ul li span {
        min-width: 128px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    #conteudo .organograma ul li span {
        min-width: 200px;
    }
    #conteudo .organograma ul ul li span {
        min-width: 194px;
    }
    #conteudo .organograma ul ul ul li span {
        min-width: 89px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    #conteudo .edital .acoes,
    #conteudo .edital .acoes div {
        min-width: 200px;
    }
    #conteudo .edital .acoes a {
        padding: 20px 10px;
        font-size: 11px;
    }
    #conteudo .edital .acoes a.edt i,
    #conteudo .edital .acoes a.pb i {
        margin-right: 5px;
    }
}

@media only screen and (max-width: 768px) {
    #conteudo .edital .acoes,
    #conteudo .edital .acoes div {
        min-width: 200px;
    }
    #conteudo .edital .acoes a {
        padding: 20px 10px;
        font-size: 11px;
    }
    #conteudo .edital .acoes a.edt i,
    #conteudo .edital .acoes a.pb i {
        margin-right: 5px;
    }
}

@media only screen and (max-width: 575px) {
    #conteudo .edital {
        display: block;
    }
    #conteudo .edital .texto {
        padding: 20px;
    }
    #conteudo .edital .acoes,
    #conteudo .edital .acoes div {
        width: 100%;
    }
    #conteudo .edital .vagas {
        position: inherit;
        display: block;
        margin: 0 0 20px 20px;
    }
}

#conteudo #indicadores {
    background: none;
    padding: 0;
}

#conteudo #indicadores table tr td {
    border: 1px solid #ccc;
    font-size: 14px;
}

#noticia-detalhes h2 {
    line-height: 26px;
}

#noticia-detalhes h2 a {
    color: #373435;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#noticia-detalhes h2 a:hover {
    color: #830001;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#noticia-detalhes p {
    line-height: 16px;
}

#noticia-detalhes p a {
    color: #373435;
    font-size: 14px;
    text-decoration: none;
}

#noticia-detalhes p>b {
    color: #830001;
    font-size: 13px;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    #noticia-detalhes .texto {
        margin-top: 0;
    }
    #noticia-detalhes h2 {
        line-height: 18px;
    }
    #noticia-detalhes h2 a {
        font-size: 16px;
    }
    #noticia-detalhes p {
        line-height: 12px;
    }
    #noticia-detalhes p a {
        font-size: 10px;
    }
}

#noticia-detalhe h1 {
    font-size: 29px;
    cursor: default;
}

#noticia-detalhe p.data {
    color: #606062;
    font-size: 12px;
    cursor: default;
    border-top: 2px solid #E6E7E8;
    padding-top: 10px;
}

#noticia-detalhe .noticia-img {
    width: 100%;
}

#noticia-detalhe .texto {
    border-bottom: 2px solid #E6E7E8;
}

#noticia-detalhe>p b {
    color: #830001;
    font-size: 13px;
}

#noticia-detalhe ul.thumbnails-carousel {
    padding: 5px 0 0 0;
    margin: 0;
    list-style-type: none;
}

#noticia-detalhe ul.thumbnails-carousel li {
    margin-right: 5px;
    display: inline-block;
    cursor: pointer;
}

#noticia-detalhe ul.thumbnails-carousel li img {
    height: 70px;
}

#noticia-detalhe .controls-background-reset {
    background: none !important;
}

#noticia-detalhe .active-thumbnail {
    opacity: 0.7;
}

#noticia-detalhe .indicators-fix {
    bottom: 70px;
}

#noticia-lista {
    margin-top: 20px;
    border-top: 2px solid #E6E7E8;
}

#noticia-lista h2 {
    line-height: 26px;
}

#noticia-lista h4 {
    background: #962E2E;
    color: #FFCC29;
    font-size: 25px;
    padding: 5px 10px;
    cursor: default;
}

#noticia-lista h2 a {
    color: #373435;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#noticia-lista h2 a:hover {
    color: #830001;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#noticia-lista .noticia {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #E6E7E8;
}

#noticia-lista .texto {
    margin: 0;
}

#noticia-lista p {
    line-height: 16px;
}

#noticia-lista p a {
    color: #373435;
    font-size: 14px;
    text-decoration: none;
}

#noticia-lista p>b {
    color: #830001;
    font-size: 13px;
}

#noticia-lista img {
    width: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    #noticia-lista h2 {
        line-height: 18px;
    }
    #noticia-lista h2 a {
        font-size: 16px;
    }
    #noticia-lista p {
        line-height: 12px;
    }
    #noticia-lista p a {
        font-size: 10px;
    }
}

#paginacao {
    text-align: center;
    margin-top: 30px;
}

#paginacao li {
    display: inline-block;
}

#paginacao li a {
    display: block;
    color: #7C7C7C;
    font-size: 12px;
    text-decoration: none;
    padding: 5px 10px;
    background: #EFEFEF;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#paginacao li a:hover,
#paginacao li a.select {
    color: #fff;
    font-size: 12px;
    background: #9B9B9B;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#itens {
    padding: 30px 0;
}

#itens a {
    display: inline-block;
    vertical-align: middle;
    color: #373435;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    width: 19%;
    border-left: 2px solid #E6E7E8;
    font-size: 14px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#itens a:first-child {
    border: none;
}

#itens a img {
    display: block;
    margin: 0 auto 15px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#itens a:hover {
    color: #3D8575;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#itens a:hover img {
    transform: scale(1.2);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

@media only screen and (max-width: 768px) {
    #itens a {
        font-size: 11px;
    }
}

@media only screen and (max-width: 465px) {
    #itens a {
        display: block;
        width: 100%;
        border: none;
        border-top: 2px solid #E6E7E8;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

#noticias {
    padding: 50px 0;
    background: #eee;
}

#noticias .principal {
    background: #fff;
}

#noticias .principal a {
    display: flex;
    color: #4B4B4D;
    text-decoration: none;
    font-size: 20px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#noticias .principal a:hover {
    color: #000;
    -webkit-filter: contrast(160%);
    filter: contrast(160%);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#noticias .principal a span {
    padding: 30px;
}

#noticias .principal a span b {
    display: block;
    height: 165px;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#noticias .principal a:hover span b {
    color: #962E2E;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#noticias .principal a span i {
    display: block;
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    color: #727376;
    height: 115px;
    overflow: hidden;
}

#noticias .principal a span small {
    display: block;
    font-size: 13px;
    color: #96989A;
}

#noticias .mais {
    background: #fff;
    padding: 12px 15px;
}

#noticias .mais h2 {
    color: #0F6955;
    font-size: 15px;
    cursor: default;
}

#noticias ul {
    margin: 21px 0 0;
}

#noticias ul li {
    display: block;
    margin: 18px 0;
}

#noticias ul li a {
    color: #4b4b4b;
    text-decoration: none;
    font-size: 13px;
    line-height: 14px;
    height: 80px;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

#noticias ul li a:hover {
    -webkit-filter: contrast(160%);
    filter: contrast(160%);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

#noticias ul li a img {
    width: 88px;
    margin-right: 10px;
}

#noticias ul li a b {
    display: block;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#noticias ul li a:hover b {
    color: #962E2E;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#noticias ul li a small {
    display: block;
    color: #4B4B4D;
    font-size: 12px;
    font-weight: normal;
    margin-top: 5px;
}

#noticias .agora {
    background: #962E2E;
    padding: 5px 50px 5px 10px;
}

#noticias .agora h3 {
    margin: 0;
    cursor: default;
}

#noticias .agora h3 span {
    color: #FFCC29;
    font-size: 20px;
    cursor: default;
    margin: 0 5px 0 0;
    white-space: nowrap;
}

#noticias .agora h3 small {
    color: #FEFEFE;
    font-size: 14px;
    font-weight: normal;
}

#noticias .agora div {
    white-space: nowrap;
    color: #FFCC29;
    font-size: 18px;
}

#noticias .agora .arrow {
    position: absolute;
    top: 3px;
    right: -37px;
}

#noticias .agora .arrow a {
    color: #FFCC29;
}

#noticias .btn {
    color: #0F6955;
    border: 1px solid #0F6955;
    text-decoration: none;
    display: table;
    margin: 30px auto 0;
    border-radius: 5px;
    padding: 8px 15px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

#noticias .btn:hover {
    color: #fff;
    background: #0F6955;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    #noticias .principal a {
        font-size: 15px;
    }
    #noticias .principal a span b {
        height: 140px;
    }
    #noticias .principal a span i {
        height: 135px;
        font-size: 12px;
    }
    #noticias ul li a {
        font-size: 10px;
        line-height: 12px;
    }
    #noticias ul li a small {
        font-size: 10px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    #noticias .no-padding-left {
        padding-left: 15px !important;
    }
    #noticias .mais {
        margin-top: 10px;
    }
    #noticias .principal a span {
        padding: 20px;
    }
    #noticias .principal a {
        font-size: 16px;
    }
    #noticias .principal a span b {
        height: auto;
    }
    #noticias .principal a span i {
        font-size: 13px;
        line-height: 18px;
        height: auto;
        margin: 8px 0;
    }
    #noticias .agora h3,
    #noticias .agora h3 small {
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    #noticias {
        padding: 15px 0;
    }
    #noticias .no-padding-left {
        padding-left: 15px !important;
    }
    #noticias .mais {
        margin-top: 10px;
    }
    #noticias .principal a span {
        padding: 20px;
    }
    #noticias .principal a {
        font-size: 16px;
    }
    #noticias .principal a span b {
        height: auto;
    }
    #noticias .principal a span i {
        font-size: 13px;
        line-height: 18px;
        height: auto;
        margin: 8px 0;
    }
    #noticias .agora h3,
    #noticias .agora h3 small {
        display: block;
    }
    #noticias .agora div {
        white-space: normal;
    }
    #noticias .principal a {
        display: block;
    }
    #noticias .principal a img {
        width: 100%;
    }
    #noticias .principal a span {
        display: block;
    }
}

@media only screen and (max-width: 465px) {
    #noticias .agora h3 span {
        font-size: 19px;
    }
}

#header-interno {
    background: #034F2F;
}

#header-interno .linha-topo {
    padding-top: 5px;
    height: 75px;
}

#header-interno .linha-topo h2 {
    margin: 4px 0 0 40px;
    color: #e2f4ea;
    font-size: 11px;
    cursor: default;
    line-height: 24px;
    background: url(../img/icones/cadeado.png) no-repeat left 13px;
    padding: 2px 0 0 40px
}

#header-interno .linha-topo h2 big {
    font-size: 22px;
    display: block
}

#header-interno .linha-topo .dados {
    background: url(../img/icones/perfil.png) no-repeat left center;
    padding-left: 45px;
}

#header-interno .linha-topo .dados p {
    color: #FEFEFE;
    font-size: 16px;
    cursor: default;
    margin: 0;
}

#header-interno .linha-topo .dados p:first-child+p {
    color: #17A9A0;
}

#header-interno .linha-topo .dados p a {
    color: #17A9A0;
    font-size: 13px;
    margin: 0 6px;
}

#header-interno button {
    display: none;
    float: right;
    width: 40px;
    height: 40px;
    background: none;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    position: relative;
    z-index: 20;
}

#header-interno button span {
    display: block;
    width: 100%;
    height: 2px;
    background: #888;
    margin: 6px 0;
    border-radius: 3px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    #header-interno .linha-topo h2 {
        font-size: 11px
    }
    #header-interno .linha-topo h2 big {
        font-size: 18px
    }
    #header-interno .linha-topo p {
        font-size: 12px
    }
}

@media only screen and (max-width: 768px) {
    #header-interno {
        background: #034F2F
    }
    #header-interno .linha-topo,
    #header .linha-topo div {
        height: auto;
        display: block;
        text-align: center
    }
    #header-interno .linha-topo h2 {
        font-size: 11px;
        margin: 0;
        text-align: left;
        padding-left: 31px
    }
    #header-interno .linha-topo h2 big {
        font-size: 16px;
    }
    #header-interno button {
        display: block;
        background: #ccc;
    }
    #header-interno.active button span:first-child {
        transform: rotate(45deg);
        margin: 0;
    }
    #header-interno.active button span:first-child+span {
        transform: rotate(-45deg);
        margin: -2px 0 0 0;
    }
    #header-interno.active button span:first-child+span+span {
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    #header-interno .linha-topo h2 {
        font-size: 8px;
        line-height: 15px;
        background-position: left 2px;
        padding: 5px 0 4px 40px
    }
    #header-interno .linha-topo h2 big {
        font-size: 12px;
    }
}

#nav-interno {
    border-bottom: 1px solid #BDBFC1;
}

#nav-interno ul {
    border-left: 1px solid #BDBFC1;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

#nav-interno ul li {
    float: left;
    line-height: 50px;
    border-right: 1px solid #BDBFC1;
}

#nav-interno ul li:last-child {
    border: none;
}

#nav-interno ul li a {
    display: block;
    padding: 0 20px;
    text-decoration: none;
    color: #48546E;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

#nav-interno ul li a:hover {
    background: #034F2F;
    color: #eee;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

#nav-interno ul li span {
    display: block;
    padding: 0 20px;
    color: #A9ABAE;
    cursor: default;
}

#nav-interno p a {
    display: block;
    line-height: 50px;
    text-decoration: none;
    color: #034F2F;
    font-weight: bold;
}

#nav-interno p {
    margin: 0;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    #nav-interno ul li a,
    #nav-interno ul li span {
        padding: 0 11px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    #nav-interno ul li a,
    #nav-interno ul li span {
        font-size: 11px;
        padding: 0 5px;
    }
    #nav-interno p {
        font-size: 11px;
    }
}

@media only screen and (max-width: 768px) {
    #nav-interno ul {
        position: fixed;
        z-index: 50;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        overflow: auto;
        background: #eee;
        padding: 15px;
        display: block;
    }
    #nav-interno.active ul {
        left: 0;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out
    }
    #nav-interno ul li {
        display: block;
        margin: 10px 0;
        float: none;
        border: none;
    }
    #nav-interno ul li a {
        display: block;
        height: auto;
        line-height: 25px;
        padding: 0;
        font-size: 20px;
    }
    #nav-interno ul li span {
        padding: 0;
    }
    #header-interno.active button {
        position: fixed;
        top: 17px;
        right: 15px;
        z-index: 51;
    }
}

#conteudo-interno {
    background: #f3f3f3;
    padding: 20px 0
}

#conteudo-interno .servicos {
    list-style: none;
    margin: 20px 0;
    padding: 0
}

#conteudo-interno .servicos li {
    background: #fff;
    width: 140px;
    height: 150px;
    text-align: center;
    border: 2px solid #d5d5d5;
    border-radius: 5px;
    display: inline-block;
    vertical-align: top;
    margin: 0 21px 21px 0
}

#conteudo-interno .servicos li:nth-child(4n) {
    margin-right: 0
}

#conteudo-interno .servicos li a {
    display: block;
    width: 120px;
    height: 140px;
    color: #747474;
    text-decoration: none;
    font-size: 13px;
    line-height: 16px;
    margin: auto;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

#conteudo-interno .servicos li a img {
    display: block;
    margin: auto
}

#conteudo-interno .servicos li a:hover {
    opacity: .6;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    #conteudo-interno .servicos li {
        width: 125px;
        margin: 0 6px 6px 0
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    #conteudo-interno .servicos li {
        width: 123px;
        margin: 0 6px 6px 0
    }
    #conteudo-interno .servicos li:nth-child(4n) {
        margin-right: 6px
    }
    #conteudo-interno .servicos li:nth-child(3n) {
        margin-right: 0
    }
}

@media only screen and (max-width: 768px) {
    #conteudo-interno .servicos {
        text-align: center
    }
    #conteudo-interno .servicos li {
        width: 119px;
        margin: 0 6px 6px 0
    }
    #conteudo-interno .servicos li:nth-child(4n) {
        margin-right: 6px
    }
    #conteudo-interno .servicos li:nth-child(3n) {
        margin-right: 6px
    }
}

@media only screen and (max-width: 465px) {
    #conteudo-interno .servicos li {
        width: 100%;
        margin: 10px 0
    }
    #conteudo-interno .servicos li:nth-child(4n) {
        margin-right: 0
    }
    #conteudo-interno .servicos li:nth-child(3n) {
        margin-right: 0
    }
}

#conteudo-interno .mensagens {
    list-style: none;
    margin: 20px 0 0;
    padding: 0;
    background: #edeef0;
    padding: 10px 20px;
    border-top: 1px solid #f7f8fa;
}

#conteudo-interno .mensagens li {
    display: block;
    border-bottom: 1px solid #f7f8fa;
    border-top: 1px solid #e9eaec;
    color: #136f56;
    padding: 10px 0;
    cursor: default
}

#conteudo-interno .mensagens li a {
    color: #999a9c;
    font-size: 13px;
    line-height: 14px
}

#conteudo-interno .mensagens li a b {
    color: #464749;
    display: block;
    font-size: 16px
}

#conteudo-interno .mensagens li:first-child {
    border-top: none;
    font-weight: bold
}

#conteudo-interno .mensagens li:last-child {
    border-bottom: none;
    text-align: right
}

#conteudo-interno .mensagens li:last-child a {
    color: #136f56;
    font-weight: bold
}

#conteudo-interno .documentos {
    padding: 10px 20px;
    border-top: 1px solid #f7f8fa;
    border-bottom: 1px solid #f7f8fa
}

#conteudo-interno .documentos li {
    display: block;
    border-bottom: 1px solid #f7f8fa;
    border-top: 1px solid #e9eaec;
    color: #962E2E;
    padding: 16px 0;
    cursor: default
}

#conteudo-interno .documentos li a {
    color: #999a9c;
    font-size: 13px;
    line-height: 14px
}

#conteudo-interno .documentos li a b {
    color: #464749;
    font-size: 16px
}

#conteudo-interno .documentos li a img {
    float: right;
    width: 25px;
}

#conteudo-interno .documentos li:first-child {
    border-top: none;
    font-weight: bold
}

#conteudo-interno .documentos li:last-child {
    border-bottom: none;
    text-align: right
}

#conteudo-interno .documentos li:last-child a {
    color: #962E2E;
    font-weight: bold
}

#conteudo-interno .perfil img {
    margin-right: 10px;
}

#conteudo-interno .perfil p {
    margin: 0;
    cursor: default;
}

#conteudo-interno .perfil a {
    color: #fefefe;
    text-decoration: none;
    background: #034F2F;
    padding: 5px 25px;
    display: inline-block;
    border-radius: 5px;
    margin-top: 10px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

#conteudo-interno .perfil a:hover {
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

#conteudo-interno .titulos h3,
#conteudo-interno .titulos p {
    margin: 0;
    cursor: default;
    color: #606062;
}

#conteudo-interno .titulos select {
    display: block;
    width: 260px;
    height: 40px;
    line-height: 40px;
    background: #f7f7f7;
    padding-left: 10px;
    border: 1px solid #D2D3D5;
    margin-left: 10px;
}

#conteudo-interno .titulos div {
    position: relative;
}

#conteudo-interno .titulos input[type="text"] {
    display: block;
    width: 260px;
    height: 40px;
    line-height: 40px;
    background: #f7f7f7;
    padding-left: 10px;
    border: 1px solid #D2D3D5;
    margin-left: 10px;
}

#conteudo-interno .titulos button {
    position: absolute;
    z-index: 1;
    bottom: 8px;
    right: 1px;
    border: none;
    background: #f7f7f7;
    cursor: pointer;
    color: #BDBFC1;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    #conteudo-interno .titulos select {
        width: 200px;
    }
    #conteudo-interno .titulos input[type="text"] {
        width: 230px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    #conteudo-interno .titulos select {
        width: 150px;
    }
    #conteudo-interno .titulos input[type="text"] {
        width: 170px;
    }
}

@media only screen and (max-width: 768px) {
    #conteudo-interno .titulos,
    #conteudo-interno .titulos .flex {
        display: block;
    }
    #conteudo-interno .titulos select,
    #conteudo-interno .titulos input[type="text"] {
        width: 100%;
        margin: 10px 0 0;
    }
}

#conteudo-interno .conteudo {
    background: #fefefe;
    padding: 20px;
    border: 2px solid #D2D3D5;
    border-radius: 5px;
    margin-top: 20px;
}

#conteudo-interno .conteudo table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#conteudo-interno .conteudo table tr th,
#conteudo-interno .conteudo table tr td {
    padding: 5px;
    border: 1px solid #BDBFC1;
    min-width: 100px;
}

#conteudo-interno .conteudo table tr th i {
    float: right;
    cursor: pointer;
    margin-top: 5px;
    color: #D2D3D5;
}

#conteudo-interno .conteudo table tr td {
    color: #727376;
}

#conteudo-interno .conteudo table tr th i:hover {
    color: #333
}

#footer-interno {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 0;
    background: #034F2F
}

#footer-interno p {
    margin: 0;
    color: #fff;
    text-align: center;
    cursor: default;
    font-size: 14px
}

#copyright-interno {
    margin-top: 10px;
    margin-bottom: 10px
}

#copyright-interno p {
    color: #606062;
    font-size: 10px;
    margin: 0;
    cursor: default
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    #copyright-interno .row {
        justify-content: center !important;
        text-align: center
    }
}

@media only screen and (max-width: 768px) {
    #copyright-interno .row {
        justify-content: center !important;
        text-align: center
    }
}

#canal {
    text-align: center;
    background: url(../img/background/1.png) repeat center;
}

#canal .row {
    min-height: 970px;
}

#canal .video {
    width: 912px;
    height: 527px;
    background: url(../img/icones/tela.png) no-repeat center;
    display: block;
    margin: auto;
    position: relative;
}

#canal .video:after {
    content: '';
    width: 245px;
    height: 245px;
    background: url(../img/icones/youtube.png) no-repeat center;
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    right: -100px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    #canal .video:after {
        right: -30px;
    }
}

#canal .video iframe {
    margin: 30px;
    width: 680px;
    height: 420px;
}

#canal .btn {
    height: 61px;
    line-height: 61px;
    background: #830001;
    color: #fff;
    font-size: 23px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 50px;
    display: inline-block;
    padding: 0 40px 0 0;
    margin-top: 55px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

#canal .btn img {
    margin: -5px 10px 0 0;
}

#canal .btn:hover {
    background: #660404;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

#canal h2 {
    color: #962E2E;
    font-size: 25px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    cursor: default;
    position: relative;
}

#canal h2:after {
    content: '';
    width: 100%;
    height: 7px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    background: url(../img/icones/barra.png) no-repeat center;
}

#canal p {
    color: #830001;
    font-size: 20px;
    max-width: 700px;
    display: block;
    margin: 40px auto 0;
    cursor: default;
    font-weight: bold;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    #canal .video:after {
        right: -30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    #canal .video {
        background-size: contain;
        width: 690px;
        height: 400px;
    }
    #canal .video iframe {
        margin: 23px;
        width: 514px;
        height: 316px;
    }
    #canal .video:after {
        right: -35px;
    }
}

@media only screen and (max-width: 768px) {
    #canal .video {
        width: 436px;
        height: 255px;
        background-size: contain;
    }
    #canal .video iframe {
        margin: 16px;
        width: 323px;
        height: 209px;
    }
    #canal .video:after {
        display: none;
    }
    #canal .row {
        min-height: 720px;
    }
}

@media only screen and (max-width: 465px) {
    #canal .video {
        width: 100%;
        height: auto;
        background: none;
    }
    #canal .video iframe {
        margin: 0;
        width: 100%;
        height: 209px;
    }
    #canal .btn {
        font-size: 13px;
    }
}

#indicadores {
    text-align: center;
    background: url(../img/background/2.png) no-repeat center;
    padding: 40px 0;
}

#indicadores h2 {
    color: #FFCC29;
    font-size: 25px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    cursor: default;
    position: relative;
}

#indicadores h2:after {
    content: '';
    width: 100%;
    height: 7px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    background: url(../img/icones/barra.png) no-repeat center;
}

#indicadores p {
    color: #fefefe;
    font-size: 18px;
    font-weight: bold;
    margin: 2px 0;
    cursor: default;
}

#indicadores table {
    width: 100%;
    margin-top: 20px;
    border-collapse: separate;
}

#indicadores table tr th {
    background: #962E2E;
    color: #FFCC29;
    font-size: 20px;
    padding: 5px 8px;
    cursor: default;
}

#indicadores table tr th.h1 {
    background: #962E2E !important;
    text-align: left !important;
}

#indicadores table tr th.h2 {
    text-align: center !important;
}

#indicadores table tr td {
    background: #fff;
    color: #727376;
    font-size: 16px;
    padding: 5px 8px;
    cursor: default;
}

#indicadores table tr:hover td {
    background: #f4f4f4;
}

#indicadores table tr td.link {
    width: 200px;
    background: #962E2E;
    text-align: center !important;
}

#indicadores table tr td a {
    color: #FFCC29;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

#indicadores table tr td a:hover {
    color: #FFF;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

#indicadores table tr th:first-child {
    background: #A04343;
    min-width: 33px;
}

#indicadores table tr td:first-child {
    background: #E6E7E8;
    font-size: 14px;
    font-weight: normal;
    color: #606062;
}

#indicadores table tr td:first-child+td,
#indicadores table tr th:first-child+th {
    text-align: left;
    font-weight: bold;
    white-space: nowrap;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    #indicadores {
        padding: 30px 0;
    }
}

@media only screen and (max-width: 768px) {
    #indicadores {
        padding: 15px 0;
    }
    #indicadores table tr th,
    #indicadores table tr td {
        font-size: 12px;
        width: auto;
    }
    #indicadores h2 {
        font-size: 20px;
        margin-bottom: 14px;
    }
}

#colegio {
    text-align: center;
    background: url(../img/background/3.png) no-repeat center;
}

#colegio .row {
    min-height: 350px;
}

#colegio h2 {
    color: #FFCC29;
    font-size: 25px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    cursor: default;
    position: relative;
}

#colegio h2:after {
    content: '';
    width: 100%;
    height: 7px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    background: url(../img/icones/barra.png) no-repeat center;
}

#colegio h3 {
    color: #FEFEFE;
    font-size: 20px;
    cursor: default;
}

#colegio p {
    color: #FEFEFE;
    font-size: 16px;
    cursor: default;
}

#colegio a {
    color: #FFCC29;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

#colegio a:hover {
    color: #FFF;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

#redes-app {
    text-align: center;
    padding: 40px 0 0;
    background: url(../img/background/4.png) no-repeat center bottom;
}

#redes-app .fab {
    color: #3D8575;
    border: 2px solid #3D8575;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 23px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

#redes-app .fab:hover {
    color: #fff;
    background: #3D8575;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

#redes-app h2 {
    font-size: 25px;
    color: #FFCC29;
    margin: 90px 0 30px;
    cursor: default;
}

#redes-app h3 {
    font-size: 18px;
    color: #FEFEFE;
    margin-bottom: 20px;
    cursor: default;
}

#redes-app p {
    font-size: 14px;
    color: #FEFEFE;
    margin: 0 30px 30px;
    cursor: default;
}

#redes-app .btn {
    display: inline-block;
    font-size: 15px;
    color: #0F6955;
    background: #FFCC29;
    border-radius: 50px;
    margin-bottom: 30px;
    cursor: pointer;
    text-decoration: none;
    line-height: 50px;
    padding: 0 30px;
    font-weight: bold;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#redes-app .btn:hover {
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#redes-app .carousel {
    margin-bottom: 3px;
}

#redes-app .carousel-indicators {
    text-align: center;
}

#redes-app .carousel-indicators li {
    background-color: #fff;
    border: 1px solid #fff;
}

#redes-app .carousel-indicators li.active {
    background-color: transparent;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    #redes-app .carousel {
        margin-top: 70px;
    }
    #redes-app h2 {
        margin-top: 70px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    #redes-app .fab {
        margin-left: 1px;
    }
    #redes-app .btn {
        font-size: 13px;
    }
    #redes-app p {
        margin: 0 0 30px;
    }
    #redes-app h2 {
        margin: 50px 0 10px;
    }
    #redes-app .carousel {
        margin-top: 60px;
    }
}

@media only screen and (max-width: 768px) {
    #redes-app {
        padding-bottom: 70px;
    }
    #redes-app p {
        margin: 0 0 20px;
    }
    #redes-app .btn {
        line-height: 25px;
    }
    #redes-app #myCarousel2 {
        display: none;
    }
    #redes-app h2 {
        margin: 70px 0 18px;
    }
}

#footer {
    background: #211E42;
    padding: 20px 0;
    color: #fff;
}

#footer h2 {
    font-size: 14px;
    margin: 40px 0 20px;
    font-weight: normal;
    cursor: default;
}

#footer h3 {
    font-size: 13px;
    margin: 0 0 10px;
}

#footer p {
    font-size: 13px;
    margin: 2px 0;
    font-weight: normal;
}

#footer a {
    color: #FEFEFE;
}

#footer img {
    display: inline-block;
    margin: 0 2px;
}

#footer .redes {
    margin-bottom: 30px;
}

#footer .redes .btn-servicos {
    background: #434156;
    border: none;
    color: #D2D3D5;
    font-size: 13px;
    border-radius: 3px;
    text-decoration: none;
}

#footer .redes .btn-servicos .btn {
    padding: 4px 5px;
}

#footer .redes .btn-servicos i {
    margin: 0 4px;
}

#footer .redes .fab {
    color: #434156;
    border: 1px solid #434156;
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    text-decoration: none;
    border-radius: 3px;
    margin-left: 10px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

#footer .redes .fab:hover {
    color: #fff;
    background: #434156;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    #footer img {
        margin: 3px;
    }
}

@media only screen and (max-width: 768px) {
    #footer {
        text-align: center;
    }
    #footer .redes {
        margin-top: 30px;
        display: block;
        text-align: center;
    }
    #footer .redes .btn-servicos {
        display: block;
        margin-bottom: 10px;
    }
}

#footer-2 {
    background: #17152E;
    padding: 15px 0;
}

#footer-2 p {
    color: #fff;
    font-size: 14px;
    margin: 0;
    cursor: default
}

#footer-2 img {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#footer-2 img:hover {
    -webkit-filter: brightness(150%);
    filter: brightness(150%);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    #footer-2 p {
        font-size: 12px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    #footer-2 p {
        font-size: 12px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    #footer-2 .flex {
        display: block;
        text-align: center;
    }
    #footer-2 img {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 768px) {
    #footer-2 p {
        font-size: 12px;
    }
    #footer-2 .flex {
        display: block;
        text-align: center;
    }
    #footer-2 img {
        margin-top: 10px;
    }
}

#copyright {
    margin-top: 10px;
    margin-bottom: 10px
}

#copyright p {
    color: #606062;
    font-size: 10px;
    margin: 0;
    cursor: default
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    #copyright .flex {
        display: block;
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    #copyright .flex {
        display: block;
        text-align: center;
    }
    #copyright img {
        margin-top: 10px;
    }
}

.scroll {
    overflow: auto;
}

.btn-servicos {
    border: 1px solid #FFCC29;
    color: #FFCC29;
    margin-left: 10px;
    font-size: 12px;
    border-radius: 3px;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

.btn-servicos .btn {
    padding: 2px 5px;
    border-radius: 3px 3px 0 0;
}

.btn-servicos.active {
    border-color: #0F6955;
}

.btn-servicos.active .btn,
.btn-servicos.active .btn i {
    color: #0F6955;
    background: #FFCC29;
}

.btn-servicos.active .toggle {
    display: block;
}

.btn-servicos i {
    margin: 0 4px;
}

.btn-servicos.active i.fa-angle-down::before {
    transform: rotate(180deg);
    display: inline-block;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.btn-servicos .toggle {
    display: none;
    position: absolute;
    z-index: 29;
    top: 21px;
    left: 0;
    width: 100%;
    box-shadow: #333 0px 4px 4px;
    border-radius: 0 0 3px 3px;
    background: #FFCC29;
}

.btn-servicos form {
    display: block;
    padding: 15px;
}

.btn-servicos form input[type=text] {
    width: 100%;
    display: block;
    padding: 5px 5px 5px 25px;
    margin-bottom: 10px;
    background: #FEFEFE url(../img/icones/login.png) no-repeat 5px center;
    border: none;
    border-radius: 3px;
}

.btn-servicos form input[type=password] {
    width: 70%;
    display: block;
    padding: 5px 5px 5px 25px;
    margin-bottom: 10px;
    background: #FEFEFE url(../img/icones/senha.png) no-repeat 5px center;
    border: none;
    border-radius: 3px 0 0 3px;
    float: left;
}

.btn-servicos form input[type=submit] {
    width: 30%;
    display: block;
    padding: 5px;
    margin-bottom: 10px;
    background: #962E2D;
    border: none;
    border-radius: 0 3px 3px 0;
    float: right;
    cursor: pointer;
    color: #fefefe;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.btn-servicos form input[type=submit]:hover {
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.btn-servicos form a {
    color: #727376;
    text-decoration: underline;
    font-size: 13px;
}

.btn-servicos form a:hover {
    color: #333;
}

.btn-servicos ul {
    width: 100%;
    background: #0F6955;
}

.btn-servicos ul li {
    display: block !important;
    padding: 5px 15px;
    font-size: 14px;
    cursor: default;
}

.btn-servicos ul li:nth-child(even) {
    background-color: #277866;
}

.btn-servicos ul li a {
    display: block !important;
    color: #FEFEFE !important;
    height: 20px !important;
    line-height: 20px !important;
    font-size: 14px !important;
}

.btn-servicos ul li a:hover {
    text-decoration: underline !important;
}

#myCarousel .carousel-inner>.item {
    min-height: 400px;
}

#myCarousel4 .carousel-control .fa-angle-left,
#myCarousel4 .carousel-control .fa-angle-right {
    font-size: 60px;
}

.carousel-inner>.item {
    min-height: auto;
}

@media only screen and (max-width: 768px) {
    #myCarousel .carousel-inner>.item {
        min-height: 180px;
        background-size: cover;
    }
}